<% if @cart %>
    <a href=<%= checks_order_items_path %> data-turbo-permanent data-turbo-eval="false" class=" flex w-full h-full center-content" id="cart"  data-turbo-frame="primary">
        <div class="relative">
            <img src=<%= asset_path "fast-one-black.svg" %> class="text-black w-8 h-8" alt="Cart">
            <%= render "cart/cart_counter" %>
        </div>
    </a>
<% end %>