<div id="cart-counter" class="absolute -right-2 -top-2">
    <% if @cart.order_items.exists? %>
        <div class="text-white font-bold  w-5 h-5 text-xs flex items-center justify-center bg-red-600 rounded-full">
            <%= @cart.total_item %>
        </div>
    <% end %>
</div>
