
<turbo-frame id="primary" data-turbo-action="advance" data-turbo-eval="false">
    <div class="text-center text-first-600 text-5xl font-extrabold">422</div>
    <div class="text-center text-first-500">Unprocessable</div>
</turbo-frame>