<div class="m-7 shadow-xl border ">
    <%= link_to category_path category do %>
        <div class="shadow-fifth-900 h-52 w-52 bg-fourth-200">
            category_image_here
        </div>
        <div class="text-center p-2">
            <%= category.name %>
        </div>
    <% end %>
</div>

