<turbo-frame id="primary" data-turbo-action="advance">
    <div id="categories" class="flex flex-wrap justify-center" >
        <% if admin_signed_in? %>
            <%= turbo_frame_tag "new_category", class: "h-52 w-5/12 m-7 bg-first-white border border-first-200 center-content rounded-lg flex-col" do %>
                <%= render 'form', category: @category %>
            <% end %>
        <% end %>
        
        <%= render @categories %>
    </div>
</turbo-frame>
