 <%= form_with model: order_item, id:"order-item-form", class: "flex-1 flex m-t-4", html: {data: {controller: "counter", "counter-count-value": order_item.quantity || 1}} do |f| %>
    
    <div class="border-t border-b rounded-lg ">
        <%= f.hidden_field :product_id, value: order_item.product_id %>
        <button data-action="click->counter#decrease" class="w-10 rounded-lg h-10 bg-first-300 focus:outline-none hover:bg-first-400 cursor-pointer ">-</button>
        <%= f.text_field :quantity, class: "m-0 w-12 text-center text-black pointer-events-none", readonly: true, data: { "counter-target": "output"} %>
        <button data-action="click->counter#increase" class="w-10 rounded-lg h-10 bg-first-300 focus:outline-none hover:bg-first-400 cursor-pointer ">+</button>
    </div>
    <%= f.submit "Add to Cart", class: "rounded-lg content-center h-10 my-0 mx-4 px-2 cursor-pointer bg-first-300 hover:bg-first-400" %>
<% end %>