<div 
    class="items-center flex justify-center items-stretch m-3"
    data-controller="search-form" 
    data-search-form-url-value="<%= products_url %>"
    data-search-form-origin-value="search-form"
>
    <%= render "products/search_form" %>
    <%= render "products/category_list" %>
</div>

<%= render 'products/list' %>