<%= form_with url: search_products_path, data: { controller: "search-form", search_form_target: "form" } do |form| %>
    <%= form.text_field 'search_term', data: { action: "input->search-form#search" }, placeholder: 'Enter search terms...', class: "bg-first-300" %>
<% end %>

<div class="flex flex-wrap justify-center" id="products">
    <%= render @products %>
</div>
