
<turbo-frame id="primary" data-turbo-action="advance">
    <div id=<%= dom_id @product %> >
        <%= render partial: 'products/product_show', locals: { product: @product } %>
    </div>
</turbo-frame>