<nav class="h-16 bg-first-200 flex space-x-7 items-center justify-center px-96"  >
    <a href="/" class="btn flex-1 text-center text-shadow-md shadow-none">
        Home
    </a>
    <div class="btn flex-1 text-center">
        About
    </div>
    <div class="btn flex-1 text-center">
        Products
    </div>
    <div class="btn flex-1 text-center">
        Contact
    </div>
    <%= yield :cart %>

</nav>